<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227596665443-1mov5lscoo9koairouvkkmqi87cc3t7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227596665443-1mov5lscoo9koairouvkkmqi87cc3t7d</string>
	<key>API_KEY</key>
	<string>AIzaSyBiY_TYgt3OeJikDyx2fln8lYZW6YVSsG0</string>
	<key>GCM_SENDER_ID</key>
	<string>227596665443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wethepeople.broadlink</string>
	<key>PROJECT_ID</key>
	<string>we-the-people-f23cc</string>
	<key>STORAGE_BUCKET</key>
	<string>we-the-people-f23cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227596665443:ios:a02bd23d8edba0aadeae56</string>
</dict>
</plist>